body {
    font-family: monospace;
    }

/* Text area only visually hidden */
textarea {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

.nav-wrapper {
    background-color: #fafafa;
    padding: 0 .75rem;
}

.nav-wrapper a {
    font-family: monospace;
    color: #455a64;
}

.color-grid {
    padding: 3rem !important;
    cursor:pointer;
}

.nav-wrapper i{
    color: #212121;
}

/* Hide color code */
.color-grid p:nth-child(1) {
    display: none;
}

#modal-about {
    border-radius: 12px;
} 