body {
    transition: all 0.6s;
    transition-property: color, background-color, fill, border-color;
    font-family: monospace;
    }

/* Text area only visually hidden */
textarea {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

.nav-wrapper {
    background-color: #fafafa;
    padding: 0 .75rem;
}

.nav-wrapper a {
    font-family: monospace;
    color: #455a64;
}

.color-grid {
    text-align: center;
    padding: 1rem;
    cursor:pointer;
}

.color-grid p {
    font-weight: bold;
    padding: 2rem 0 2rem 0;
}

/* Hide color code for each cell */
.color-grid p:nth-child(1) {
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
}

/* Hide color name until it's hovered */
.color-grid p:nth-child(2) {
    display: none;
}

/* Show color name when hovered, with a cool transition */
.color-grid:hover p:nth-child(1){
    opacity: 1;
    -webkit-transition: all 0.25s ease-in-out;
}

#modal-about {
    text-align: center;
    border-radius: 12px;
} 